/* ================================================================================= */
/* ==   File    : App.css
/* ==   Author  : John Desjardins | K3nata8
/* ==   Version : 0.0.1
/* ==   Date    : March 2019
/* ================================================================================= */

/* ================================================================================= */
/* ==  Colours:
/* ==     - Content Areas       :  #282828
/* ==     - Background Areas    :  #121212
/* ==     - Sidebar Background  :  #1C1C1C
/* ================================================================================= */

/* ================================================================================= */
/* === App.Component :                            
/* ================================================================================= */
body { 
  background-color : #121212;
}
.App { 
  height : 100vh; 
}

/* ================================================================================= */
/* === App.Component.Modal :                            
/* ================================================================================= */
.App_Modal {
  height  : 100vh;
  width   : 100vw;
  background-color: rgba(0,0,0, 0.8);
  position: absolute;
  z-index: 10000;
}

.modal-content {
  background-color : #282828;
  border : white 1px solid;
}
.modal-header {
  background-color : #1C1C1C;
  padding : 8px 16px;
  border-bottom : 1px solid white;
}
.modal-footer {
  background-color : #1C1C1C;
  padding : 8px 16px;
}
.modal-body {
  padding : 0px;
}

/* ================================================================================= */
/* === App.Component.TopNav :                            
/* ================================================================================= */
.App_TopNav {
  background-color : #282828;
  height : 56px;
  border : white 1px solid;
}

/* ================================================================================= */
/* === App.Component.ContentArea :                            
/* ================================================================================= */
.App_ContentArea {
  padding-top : 56px;
}
.App_content {
  min-height : calc(100vh - 56px);
  /* border-bottom : 1px white solid; */
}
.App_content-wrapper {
  max-width: 80%;
  margin : 0 10%;
  padding: 0;
  border-left : 1px solid white;
  border-right : 1px solid white;
  background-color: #282828;
}
.App_content-height {
  height : 100vh
}
.main-content {
  border-right : 1px white solid;
  border-bottom : 1px white solid;
  border-left : white 1px solid;
}

/* ================================================================================= */
/* === App.Component.SideNav :                            
/* ================================================================================= */
.App_SideNav_nav-item {
  height : 40px;
  display : inline-block;
  cursor: pointer;
  max-width: 100%
}
.App_SideNav_header {
  height : 30px;
  padding-left : 16px;
  color : #909090;
  display : inline-block;
}
.App_SideNav_nav-item:hover {
  background-color : #333;
}
.App_SideNav_nav-item.active {
  background-color : #333; 
}
.App_SideNav_nav-item.active:hover {
  background-color : #484848; 
}
.App_SideNav {
  background-color : #1C1C1C;
  width : 20%;
  min-width: 20%;
  /* border-right : white 1px solid; */
  border-bottom : white 1px solid;
  border-left : white 1px solid;
  overflow: scroll;
}
.App_SideNav_Footer {
  width : 20%;
  padding : 8px;
}

/* ================================================================================= */
/* === Miscelaneous :                            
/* ================================================================================= */
span.active {
  color: white;
}
.icon { 
  color: #909090;
}
hr {
  margin: 0;
  background-color: #333;
  max-width : 100%;
}
.v-align {
  float : none;
  display : inline-block;
  vertical-align: middle;
}
.overflow_scroll {
  overflow: auto;
}
.text-grey {
  color: #717171;
}
.bunch-o-content {
  height: 75vh;
}
.input {
  background-color: green;
}