/* ================================================================================= */
/* ==   File    : PDF_reader.css
/* ==   Author  : John Desjardins | K3nata8
/* ==   Version : 0.0.1
/* ==   Date    : March 2019
/* ================================================================================= */

/* ================================================================================= */
/* === PDF_Reader.Component.NavMedia :                            
/* ================================================================================= */
.PDF_reader_header-image {
  background-image: url("./assets/cute_banner.png");
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  height: 250px;
  border-bottom: white 1px solid;
}
.PDF_reader_nav-media {
  background-color: #1c1c1c;
  padding: 16px;
  display: inline-block;
}
.media-image {
  width: 10%;
  height: auto;
  min-width: 100px;
}

/* ================================================================================= */
/* === PDF_Reader.Component.TopNav :                            
/* ================================================================================= */
.Home_header-nav {
  border-bottom: white 1px solid;
  background-color: #1c1c1c;
  padding: 0px 16px;
}
.Home_topnav-item {
  cursor: pointer;
  color: #909090;
}
.Home_topnav-item:hover {
  color: white;
}
.Home_topnav-item.active {
  border-bottom: solid white 3px;
  color: white;
}
.Home_topnav-item.active:hover {
  border-bottom: solid white 3px;
}
.home-recommend {
  /* border-bottom : white 1px solid; */
  background-color: #3d3d3d;
  border-bottom: 1px white solid;
}
.spinner {
  height: 112px;
}
.error-box {
  padding: 25px;
  height: 250px;
}
.user-list {
  height: 500px;
  overflow: scroll;
  border-right: white solid 1px;
  background-color: #1c1c1c;
}
.contact-list-item {
  padding: 8px 16px;
  height: 56px;
  cursor: pointer;
}
.contact-list-item:hover {
  background-color: #333;
}
.contact-list-item.active {
  background-color: #333;
}
.contact-list-item.active:hover {
  background-color: #484848;
}
.user-avatar {
  height: 90%;
  border-radius: 50%;
  border: 1px white solid;
}
.user-details {
  height: 500px;
  padding: 8px 16px;
}
.large-avatar {
  width: 112px;
  height: auto;
  border: 1px white solid;
}
