/* ================================================================================= */
/* ==   File    : Home.css
/* ==   Author  : John Desjardins | K3nata8
/* ==   Version : 0.0.1
/* ==   Date    : March 2019
/* ================================================================================= */

/* ================================================================================= */
/* === Home.Component :                            
/* ================================================================================= */
.Home_header-image {
    background-image :  url('./assets/Home_Header.png');
    background-position : center;
    background-size : 100% auto;
    width : 100%;
    height : 250px;
    border-bottom : white 1px solid
}
.Home_header-nav {
    border-bottom : white 1px solid;
    background-color : #1C1C1C;
    padding : 0px 16px;
}
.Home_topnav-item {
    cursor: pointer;
    color : #909090;
}
.Home_topnav-item:hover {
    color : white;
}
.Home_topnav-item.active {
    border-bottom : solid white 3px; 
    color: white;
}
.Home_topnav-item.active:hover {
    border-bottom : solid white 3px;
}

/* ================================================================================= */
/* === App.Component.NavMedia :                            
/* ================================================================================= */
.Home_nav-media {
    height : 100px;
    background-color: #1C1C1C;
    padding : 8px 16px;
    display: inline-block;
}

/* ================================================================================= */
/* === Miscelaneous :                            
/* ================================================================================= */
.bunch-o-content {
    height : 200vh;
    width : 100%;
}
.avatar {
    /* border-radius : 50%; */
    border : solid 1px #909090;
}
.muted {
    color : #909090
}

.tooltip-inner {
    background-color: #1C1C1C;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: transparent;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: transparent;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: transparent;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: transparent;
}
.tooltip-inner {
    border: 1px solid white;
}