/* ================================================================================= */
/* ==   File    : PDF_reader.css
/* ==   Author  : John Desjardins | K3nata8
/* ==   Version : 0.0.1
/* ==   Date    : March 2019
/* ================================================================================= */

/* ================================================================================= */
/* === PDF_Reader.Component.NavMedia :                            
/* ================================================================================= */
.PDF_reader_header-image {
    background-image :  url('./assets/cute_banner.png');
    background-position : center;
    background-size : 100% auto;
    width : 100%;
    height : 250px;
    border-bottom : white 1px solid
}
.PDF_reader_nav-media {
    background-color: #1C1C1C;
    padding : 8px 16px;
    display: inline-block;
}
.media-image {
    width : 10%;
    height : auto;
    min-width : 80px;
}

/* ================================================================================= */
/* === PDF_Reader.Component.NavMedia :                            
/* ================================================================================= */
.Home_header-nav {
    border-bottom : white 1px solid;
    background-color : #1C1C1C;
    padding : 0px 16px;
}
.Home_topnav-item {
    cursor: pointer;
    color : #909090;
}
.Home_topnav-item:hover {
    color : white;
}
.Home_topnav-item.active {
    border-bottom : solid white 3px; 
    color: white;
}
.Home_topnav-item.active:hover {
    border-bottom : solid white 3px;
}